*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  height: 100%;
  width: 100%;

  .logo{
    width: 100px;
    height: 100px;
  }

  .inp{
    width: 300px;
    height: 50px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
  }

  .btnEntrar{
    width: 150px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #f2f2f2;
    font-weight: bold;
  }

  .classForm{
    width: 66%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .login{
    display: flex;
    flex-direction: column;
  }

  label{
    color: #000;
    margin-left: 5px;
    font-weight: bold;
  }

  .imagem{
    width: 400px;
    height: 100vh;
    background-color: aqua;
    background-image: url('../../assets/hotellogin.png');
    background-size: cover
  }
}
