<div class="container">
    <div class="classForm">
        <img class="logo" src="../../assets/accorLogo.png" alt="">
        <div>
          <form class="login">
            <label for="email">Email</label>
            <input class="inp" type="email" name="email" id="email" placeholder="Digite seu E-mail ">

            <label for="password">Senha</label>
            <input class="inp" type="password" name="senha" id="senha" placeholder="Senha"><br>

            <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

            <div class="spinner-container" *ngIf="showSpinner">
              <mat-spinner [diameter]="50" color="accent"></mat-spinner>
            </div>
            

            <button class="btnEntrar" (click)="login()">Entrar</button>
          </form>
        </div>
    </div>

    <div class="imagem">
    </div>

</div>
