<main>
    <div id="reserva">

        <!-- HEADER -->
        <div id="buttons-top">
            <button class="buscar-cliente">Buscar Cliente</button>
            <button class="cadastro-cliente" (click)="openModalCadastroCliente(customModalTemplate)">Cadastrar Cliente</button>
        </div>

        <!-- MODAL CADASTRO CLIENTE -->

        <ng-template #customModalTemplate>
          <div class="modal-header">
            <h4 class="modal-title">Cadastro Cliente</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef1?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>

          <div class="modal-body custom-modal-body" *ngFor="let item of items1">
            
            <div class="form-group" >              
              
                <form class="cadastro-cliente" [formGroup]= "cadastro" (ngSubmit)="dadosCadastro(cadastro)">

                <label for="nome">Nome</label>
                <input type="text" name="sobrenome" id="nome" placeholder="Digite o nome do Cliente" ngModel formControlName="nome" required>

                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite o sobrenome do Cliente" ngModel formControlName="sobrenome" required>

                <label for="rg">RG</label>
                <input type="int" name="rg" id="rg" placeholder="Digite o RG do Cliente" ngModel formControlName="rg" required>

                <label for="CPF">CPF</label>
                <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF do Cliente" ngModel formControlName="cpf" required>

                <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                <input type="text" placeholder="Digite a data de nascimento" ngModel formControlName="dataNascimento" required>

                <label for="cep">Cep</label>
                <input type="text" name="celular" id="cep" placeholder="Digite o celular" ngModel formControlName="cep" required >

                <label for="cep">Numero</label>
                <input type="text" name="celular" id="numero" placeholder="Digite o celular" ngModel formControlName="numero" required >

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite o E-mail" ngModel formControlName="email" required>

                <label for="celular">Celular</label>
                <input type="text" name="celular" id="celular" placeholder="Digite o celular" ngModel formControlName="celular" required >


                <button class="btn-cadastro-cliente" type="submit">Cadastrar</button>
                
              </form>
            </div>
          </div>
        </ng-template>

        <!-- MODAL BUSCAR CLIENTE -->

        <!-- <ng-template #customModalTemplate2>
          <div class="modal-header">
            <h4 class="modal-title">Cadastro Cliente</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef2?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="custom-modal-template2" *ngFor="let item of items1"> -->
            <!-- CORPO MODAL TEMPLATE2 -->

            <!-- <input type="text" [(ngModel)]="searchText">
            <button (click)="performSearch()">Pesquisar</button>
        
          </div>
        </ng-template> -->
        
          




      
        <div class="lista-quartos">
            <p>Lista de quartos</p>
        </div>

        <div class="button-reservar">
            <button class="reservar-quarto">Reservar</button>
        </div>

    </div>
</main>
