<main>
    <div id="reserva">

        <div id="buttons-top">
            <button class="buscar-cliente">Buscar Cliente</button>
            <button class="cadastro-cliente" (click)="abrirModal()">Cadastrar Cliente</button>

            

         </div>

         <app-modal-cadastro-cliente *ngIf="modalAberto" (fecharModal)="modalAberto=false"></app-modal-cadastro-cliente>

         


        <div class="lista-quartos">
            <p>Lista de quartos</p>
        </div>

        <div class="button-reservar">
            <button class="reservar-quarto">Reservar</button>
        </div>

    </div>
</main>
