main{
    background-color: grey;
    width: 875px;
    height: 745px;
    position: absolute;
    right: 17.5%;

    /* margin-left: 341.5px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

body{
    font-size: 100px;
}